django
djangorestframework
djangorestframework-simplejwt
django-rest-swagger
python-dotenv
psycopg2
asgiref
black
click
colorama
mypy-extensions
pathspec
platformdirs
PyJWT
pytz
sqlparse
tomli
tzdata
djoser
django-admin-sortable2
django-extensions
gevent
psycogreen
black
flake8
isort
pre-commit
djet
factory_boy
django-cors-headers
drf_yasg
facebook-sdk
google-api-core
google-api-python-client
google-auth
google-auth-httplib2
googleapis-common-protos
